{% load static %}

<html>
<head>
<title>Login</title>
<link rel ="stylesheet" href ="{% static 'css/signlog.css' %}">
    <style>
.button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 25px;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
}

.button:hover {
  background-color: green;
}
</style>
</head>
<body>
<a href="{% url 'app1:home' %}"><button class="button"> Home</button></a>

<div class="wrap">

    {% for message in messages %}
        <h>{{ message }}</h>
    {% endfor %}
    <h2> Change Your Password </h2>
    <h>Username: {{user.username}}</h>
    <form action="." method="post">
        {% csrf_token %}
         <input type="password" name="pass1" placeholder="password" value="" required><br>
	 <input type="password" name="pass2" placeholder="confirm Password" value="" required><br>
         <input type="submit" placeholder="Login" value="Change Password"><br>
    </form>

</div>
</body>
</html>