{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'css/detail.css' %}">

<!--    <link rel="stylesheet" href="{% static 'css/style.css' %}">-->
</head>
<body>
<h1><span class="blue">&lt;</span>{{user.username}}<span class="blue">&gt;</span> <span class="yellow" >History</pan></h1>
<h2>Confidential <a href=".">Data</a></h2>

<table class="container">
	<thead>
		<tr>
			<th><h1>Name</h1></th>
			<th><h1>Date</h1></th>
			<th><h1>Sex</h1></th>
			<th><h1>Blood</h1></th>
			<th><h1>Age</h1></th>
			<th><h1>OP No.</h1></th>
			<th><h1>Phone</h1></th>
			<th><h1>Image</h1></th>
			<th><h1>Rsult</h1></th>
			<th><h1>Action</h1></th>

		</tr>
	</thead>
	<tbody>
	{% for data in obj %}
		<tr>
			<td>{{data.name}}</td>
			<td width="100" height="280">{{ data.date }}</td>
			<td>{{data.sex}}</td>
			<td>{{data.blood}}</td>
			<td>{{data.age}}</td>
			<td>{{data.op}}</td>
			<td>{{data.mob}}</td>
			<td width="280" height="280"><img style="height: 256;width: 256;" src="{{ data.img.url }}" alt="" /></td>
			<td>{{ data.result }}</td>
			<td width="120" onclick="location.href='{% url 'app1:delete' data.id %}'">  Delete</td>

		</tr>
	{% endfor %}
	</tbody>
</table>
</body>
</html>